<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="NotifiyEmails" value="dharminder.singh@jobrock.com" />
	  <add key="OWCCompanySecret" value="Bearer JQfi5598ACsdNHl3sYimjlBu7wtyGINN" />
	  <add key="OWCTimeZonesURL" value="https://owc-dev.jobrocket.online/api/integration/users/timeZones/" />
	  <add key="CommunicationApiURL" value="https://lead-contact-api-test.jobrocket.online" />
	  <add key="OWCSMSCommunicationBearer" value="Bearer dq23pHyIaiSEgseBGIOcfNhT2fGJFqD8" />
	  <add key="OWCSMSCommunicationVN" value="3197010260018" />
	  <add key="OWCEmailCommunicationBearer" value="Bearer dq23pHyIaiSEgseBGIOcfNhT2fGJFqD8" />
	  <add key="OWCSecret" value="Bearer PcNZkixWGHpOM8pCrRXCIpgGjzM5qFzE" />
	  <add key="APISecret" value="9a597082778a42268b33e56ce96dd45a" />
	  <add key="WebURL" value="https://automation-test.jobrock.com" />
	  <add key="ElearningWebURL" value="https://elearning-test.jobrock.com" />
	  <add key="PrerenderApiUrl" value="https://api.prerender.io/recache" />
	  <add key="PrerenderApiToken" value="cGB8aefpM1xWi65hWbkR" />
	  <add key="OWCValidateUserURL" value="api/authentication/isAuthenticated/" />
	  <add key="WebLoginURL" value="account/login" />
	  <add key="LeadUserToken" value="e00c6132-13fe-4e19-8ee1-e05a9fd90cb4" />
	  <add key="AppointmentAPISecret" value="9a597082778a42268b33e56ce96dd45a" />
	  <add key="AppointmentAPIBaseURL" value="https://appointments-api-test.jobrock.com" />
	  <add key="OWCSSOSecretKeyForDecrypt" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyWL6K/2/UZTWscXL5hEMtgYPu3O7AL9NkoU3FH8mI9BxdUiZKdDoODCeHpwnYq8cWH4CxqlWkMMaw9OKtYbx2dPspNpWwEzjVrfSLiBBj+3V1ly90pFOPR8VrDvmtt5N4nh3a9I9gWGa+Mdx1zNpNzxiMkLA8qLGJwo3Wl/ul0bUiSqNW9qegNdNf0/CiFRd4LO6vbXEnCRS0+s8aiBYfbo3MQyo9FhHEl+TpkeP5QuFR9PaNImFpTOd4jY9zcwAA0OZRq78/UOUI0g2VVch+g1uBasv3r1o/nWicZ9/K3DDB52eYnP+tLIJFi3B0OkZHp87MRuTpyps46eSsizLdQIDAQAB" />
	  <add key="ValidateTokenIssuer" value="owc" />
	  <add key="ValidateTokenAudience" value="http://jobrocket.online" />
	  <add key="Module" value="automatisering" />
	  <add key="Module_Elearning" value="ELeren" />
	  <add key="AutomationMenu" value="Automations" />
	  <add key="ElearningMenu" value="E-learning" />
	  <add key="AutomationTechnicalRecruiterCoursePermissionKey" value="AutomationTechnicalRecruiterCourse" />
	  <add key="AppointmentTechnicalRecruiterCoursePermissionKey" value="AppointmentTechnicalRecruiterCourse" />
	  <add key="ELearningTechnicalRecruiterCoursePermissionKey" value="E-LearningTechnicalRecruiterCourse" />
	  <add key="CanvasTechnicalRecruiterCoursePermissionKey" value="CanvasTechnicalRecruiterCourse" />
	  <add key="VacanciesTechnicalRecruiterCoursePermissionKey" value="VacanciesTechnicalRecruiterCourse" />
	  <add key="ContactsTechnicalRecruiterCoursePermissionKey" value="Contacts TechnicalRecruiterCourse" />
	  <add key="ReviewTechnicalRecruiterCoursePermissionKey" value="ReviewTechnicalRecruiterCourse" />
	  <add key="ReportingTechnicalRecruiterCoursePermissionKey" value="ReportingTechnicalRecruiterCourse" />
	  <add key="CampaignsTechnicalRecruiterCoursePermissionKey" value="CampaignsTechnicalRecruiterCourse" />
	  <add key="WhatsAppAsSMSPermissionKey" value="WhatsApp as SMS" />
	  <add key="OWCAddRecruiterCoursesURL" value="api/v1/integration/addRecruiterCourses?clientCode={ClientCode}" />
	  <add key="CreateAcademyCourseKey" value="CreateAcademyCourse" />
	  <add key="CreateTechnicalRecruiterSkillsKey" value="CreateTechnicalRecruiterSkills" />
	  <add key="CreateTemplateKey" value="CreateTemplate" />
	  <add key="GlobalOfficeAdminPermissionKey" value="Global Office Admin" />
	  <add key="DomainURL" value="link.jobrock.com" />
	  <add key="CloudinaryReaderPermissionKey" value="CloudinaryReader" />
	  <add key="CloudinaryAdminPermissionKey" value="cloudinaryAdmin" />
	  <add key="OWCSMSCommunicationVNforOLY" value="3197010240236" />
	  <add key="OWCSMSCommunicationVNforUSG" value="3197010260018" />
	  <add key="OWCSMSCommunicationVNforAethone" value="3197010260018" />
	  <add key="CoreApiUrl" value="https://core-api-test.jobrock.com" />
	  <add key="CoreBearer" value="Bearer wtu3Huvskep48m548DGhoepymjasdhas" />
	  
	  <add key="HubURLBearer" value="Bearer wtu3Huvskep48m548DGhoepymjasdhas" />
	  <add key="CreateStandardAutomationPermissionKey" value="Create standard automation" />
	  <add key="Caching" value="true" />
	  <add key="HubURL" value="https://hub-api-test.jobrock.com" />
	  <add key="Hub_TriggerUnknownLeadActions" value="/api/v1/Automations/web-hooks/TriggerUnknownLeadActions" />
	  <add key="BlobStorageAccount" value="DefaultEndpointsProtocol=https;AccountName=jrcontent;AccountKey=T8anAI8QpAeyT5RGYLQtRwmJuvtUBSVQ65OHKCy7CVtxPfssRBTGZipNonpZ6EqVSGbkb/1jcCFiBdPJj1GBOA==;EndpointSuffix=core.windows.net" />
	  <add key="BlobContainerName" value="emailattachmentdev" />
	  <add key="DefaultDomain" value="test.jobflow.live" />
	  <add key="Module_Name" value="Automation" />
	  <add key="ManageElearningPermissionKey" value="manage e-learning" />
	  <add key="NPSAutomationPermissionKey" value="NPS Automation" />
	  <add key="ContactAutomationReportPermissionKey" value="Contact Automation Report" />
	  <add key="WebChatbotPermissionKey" value="Web Chatbot" />
	  <add key="NotLogActions" value="" />
	  <add key="ApiLoggingFilterEnabled" value="true" />
	  <add key="ElmahLogEnabled" value="false" />
	  <add key="elmah.mvc.disableHandler" value="false" />
	  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
	  <add key="elmah.mvc.requiresAuthentication" value="false" />
	  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
	  <add key="elmah.mvc.allowedRoles" value="*" />
	  <add key="elmah.mvc.allowedUsers" value="*" />
	  <add key="elmah.mvc.route" value="elmah" />
	  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
	  <add key="ElmahBasicAuth.UserName" value="ignite" />
	  <add key="ElmahBasicAuth.Password" value="elmah@olympia" />
	  <add key="DisableErrorLog" value="false" />
	  <add key="ApiUsageLogsRetentionDays" value="15" />
	  <add key="WebApiUrl" value="https://automation-api-test.jobrock.com" />
	  <add key="AccountsApiUrl" value="https://accounts-api-test.jobrock.com" />
	  <add key="MediaApiUrl" value="https://media-api-test.jobrock.com/api/v1/media-library/classifications/getUserMedia" />
	  <add key="MediaApiBearer" value="Bearer wtu3Huvskep48m548DGhoepymjasdhas" />
	  <add key="ContactTagsPermissionKey" value="Contact Tags" />
	  <add key="TriggerSMSFallbackEmailNotification" value="false" />
	  <add key="EnabledBackgroundServicesNames" value="DeleteOldLogService" />
	  <add key="EnabledServiceNames" value="" />
	  <add key="EnableAttemptQuizLogging" value="true" />
	  <add key="AppLocalCacheEnabled" value="true" />
	  <add key="DefaultAppLocalCacheHours" value="5" />
	  <add key="UseSingletonContext" value="false" />
	  <add key="UseQuizAttemptNew" value="true" />
	  <add key="EnableWhatsApptempRedirection" value="true" />
	  <add key="LeadApiClientCode" value="Aethon,Oly,USG"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.1.0" newVersion="6.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.13.1.0" newVersion="6.13.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QuizAppDBContext" connectionString="data source=jobrock-prod.database.windows.net;initial catalog=Jr-06-Auto-Shared-Db-Weu-Test;user id=Jr-06-Auto-Db-User-Test-Acc;password=Qn86fSB4;MultipleActiveResultSets=True;PersistSecurityInfo=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
